$color-blue: #389EF2;
$color-gray-white: #4D5255;
$color-gray: #19232A;
$color-black: #010B13;
$color-light: #FFFFFF;
$color-yellow: #FFFF00;

$font-size: 16px;

$gap: 15px;

$lg: 1024px;
$md: 576px;
$sm: 420px;
$xs: 320px;

